/* App.css */


/* Global styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Light Theme */
.light {
  background-color: #f9f9f9;
  color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Dark Theme */
.dark {
  background-color: #1e1e1e;
  color: #f9f9f9;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Heading styles */
h1, h2 {
  font-weight: bold;
  text-align: center;
}

/* Loader Styling */
div[role="status"] {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  margin-top: 20px;
}
