.container {
  text-align: center;
  padding: 20px;
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
  color: #007bff;
}

.nav-link:hover {
  text-decoration: underline;
}

.page {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
