body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
}

.dial {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.timer-display {
  font-size: 1.7em;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  color: black;
  background-color: darkorange;
}

.toggle {
  margin-top: 20px;
}
.start {
  background-color: orange;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2ms;
}

.start:hover{
  background-color: rgb(66, 139, 255);
  transform: scale(0.98);
}
.start:active{
  background-color: rgb(41, 122, 252);
  transform: scale(0.95);
}

.stop {
  background-color: orange;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}
.stop:hover{
  background-color:  rgb(66, 139, 255);
  transform: scale(0.98);
}

.stop:active{
  background-color:  rgb(41, 122, 252);
  transform: scale(0.95);
}

.reset {
  background-color: orange;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}
.reset:hover{
  background-color:  rgb(66, 139, 255);
  transform: scale(0.98);
}
.reset:active{
  background-color:  rgb(41, 122, 252);
  transform: scale(0.95);
}

.toggle {
  background-color: orange;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}
.toggle:hover {
  background-color:  rgb(66, 139, 255, 0.994);
  transform: scale(0.98);
}

.toggle:active {
  background-color:  rgb(41, 122, 252);
  transform: scale(0.95);
}
.light {
  background-color: rgb(255, 255, 255);
  color: black;
}