.container {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #ffdde1); /* Mixed radiant gradient background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient( 135deg, #FDD819 10%, #E80505 100%);

}

.navbar {
  background: linear-gradient(90deg, #232526, #414345); /* Dark navbar color */
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #ffcc00;
}

.content {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 80%;
}